<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {% block body %}
        {% include 'core/navbar.html' %}
        {% block content %}
        <div class="", style="background-color: rgb(206, 152, 152);">
          <h1  style="border: 1px; text-align: center; font-style:normal;">APNA BANK</h1><hr>
          <h5>
            BANKING SY STEM There has been a rapid development in the banking institutions in various countries. With development, various systems of banking have come into existence. Banks can be classified on the basis of volume of operator, business pattern & areas of operations</h5>

        </div>
              {% comment %} {% include 'core/message.html' %} {% endcomment %}
               
                <div class="container" style="background-color: rgb(92, 100, 100);"></div>
                
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-5  offset-1 alert alert-dark">
                        <h5> <h3>About Banking system</h3>
                          BANKING SY STEM There has been a rapid development in the banking institutions in various countries. With development, various systems of banking have come into existence. Banks can be classified on the basis of volume of operator, business pattern & areas of operations.
                          DEFINITION OF BANKING Banking Regulation Act 1949 defines banking as, “ACCEPTING FOR THE PURPOSE OF LENDING AND INVESTMENT, OF DEPOSITS OF MONEY FROM THE PUBLIC, REPAYABLE ON DEMAND, ORDER OR OTHERWISE AND WITHDRAWABLE BY CHEQUE,DRAFT,ORDER OR OTHERWISE”... </h5> <hr>
                      </div>
                    </div>
                </div>
                <hr>
                {% endblock content%}

              </div>

    {% endblock body %}

{#   {% include 'core/footer.html' %}#}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>