{% extends "base.html" %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
</head>
<body>
    <br>
        <div class=" text-center" style="border: rgb(122, 115, 161); background-color: rgb(168, 181, 211); ">
    <h1>Deposit money</h1>
        </div><hr>
    {% for user in account_detail %}
    <h4>Account Holder : {{ user.user }}</h4>
    <h3>Account no : {{ user.account_no }}</h3> <hr>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5  offset-1 alert alert-danger" >
            <h4 class="text-center" style="padding-bottom: 5px;" >Add Money</h4>
            <form action="{% url 'deposit'%}" method="POST">
                {% csrf_token %}
            <p>
            <label>Enter Amount
            <input type="text" name="deposit_amount" required>
            </label>
            </p>
             <table>
            <tr>
             <td><input type="submit" name="submit" value="Conform"/></td>
            </tr>
            </table>
            </form>
            </div>
        </div>
    </div>
{% if message %}
    <h3>Error occur = {{ message }}</h3>
{% endif %}
</body>
</html>

{% endblock body %}