{% extends "base.html" %}
{% block body %}

{% include 'core/navbar.html' %}

<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>

    <h2>Transaction History</h2>
{#    <a  href="#"  class="btn btn-outline-success" type="submit">Add Money</a>#}
{#    <a  href="{% url 'login' %}"  class="btn btn-outline-success" type="submit">Login</a>#}

<hr>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Particular</th>
      <th scope="col">Status</th>
      <th scope="col">Amount</th>
      <th scope="col">Closing Balance</th>>
    </tr>
  </thead>

  <tbody>
  {% for transact in trans_history %}
    <tr>
      <th scope="row">{{ transact.id }}</th>
      <td>{{ transact.date_error_message }}</td>
      <td>{{ transact.account_no}}</td>
      <td>{{ transact.contact }}</td>
      <td>{{ transact.amount }}</td>
{#      <td><a href="#" type="submit">Add Money</a>#}
    </td>
    </tr>
  {% endfor %}
  </tbody>

</table>
</body>
</html>

</body>
</html>

{% endblock body %}