{% extends "base.html" %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
  <div class="text-center" style="padding-top: 10px;">
    <h1 style="background-color: rgb(240, 227, 227); padding-bottom: 1%;">Transaction History</h1>
  </div>
  <div class="">
  <h4>Account Holder : {{ detail.user }}</h4>
  <h3>From Account no : {{ detail.account_no }}</h3>
  </div> <hr>
{% if tran_id %}
  <h5 class="text-center">statement</h5>
      <table class="table">
    <thead>
      <tr style="width:auto; background-color: rgb(228, 156, 184);">
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">particular</th>
        <th scope="col">Debit</th>
        <th scope="col">Credit</th>
        <th scope="col">Closing Balance</th>

      </tr>
    </thead>

    <tbody style="border:black;">
    {% for transact in tran_id %}
      <tr>
        <th scope="row">{{ transact.id }}</th>
        <td>{{ transact.transaction_date }}</td>
        <td>to {{ transact.to_account }}/{{ transact.transaction_mode }}</td>
        <td>{{ transact.amount }}</td>
        <td> {{transact.deposit_amount}} </td>
        <td>{{ transact.opening_balance }}</td>
      </td>
      </tr>
    {% endfor %}

    {% else %}
    <div class="row col-sm-5 offset-3">
    <h2 style="color: rgb(252, 252, 252); background-color: rgb(238, 104, 104);">Not make transaction yet!</h2>
    </div>
{% endif %}


    </tbody>

  </table>
</body>
</html>

</body>
</html>

{% endblock body %}