{% extends "base.html" %}
{% block body %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Withdrawal</title>
</head>
<body>
    <br>
        <div class=" text-center" style="border: rgb(122, 115, 161); background-color: rgb(168, 181, 211); ">
    <h1>Withdraw money</h1>
        </div><hr>
    {% for user in account_detail %}
    <h4>Account Holder : {{ user.user }}</h4>
    <h3>Account no : {{ user.account_no }}</h3> <hr>
    {% endfor %} <hr>
    
{% if exception %}
    <div class=" row col-sm-5" ><
    <h2 style="color: rgb(167, 20, 27);" > Account deactivation Alert!!  You can not withdraw money because your account is deactivate</h2></div> <hr>

{% elif message %}
    <h3>Error occur = {{ message }}</h3>

{% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5  offset-1 alert alert-danger" >
            <h4 class="text-center alert alert-dark" >Withdrawal Amount</h4>
            <form action="{% url 'withdraw'%}" method="POST">
                {% csrf_token %}
            <p>
            <label>Enter Amount
            <input type="text" name="amount" required>
            </label>
            </p>
             <table>
            <tr>
             <td><input type="submit" name="submit" value="Conform"/></td>
            </tr>
            </table>
            </form>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>

{% endblock body %}